:root {
  --bg-main: #161d2b !important;
  --bg-sub: #0f141e;
  --text-main: #ffffff;
  --text-sub: #a9a9a9;
  --shadow-green: #52ca96;
  --shadow-orange: #f07b00;
  --shadow-purple: #6e44c3;
  --shadow-blue: #1da3e6;
  --border-main: #323e58;
  --border-dark: #0f141e;
}

.bg-detail{
  background-color: #1c2332;
  border: 1px solid #2d386b;
}

.user-links-btn {
  &:hover {
    color: var(--color);
    background: linear-gradient(var(--background));
    box-shadow: var(--box-shadow);
    border: var(--border);
    .mdi {
      color: var(--color);
    }
  }
}
.hover-green {
  --color: #52ca96;
  --background: 90deg, #52ca9660 0%, #52ca9640 70%, #52ca9600 90%;
  --box-shadow: inset 0 0 10px 5px var(--bg-sub);
  --border: none;
}

.hover-orange {
  --color: #f07b00;
  --background: 90deg, #f07b0060 0%, #f07b0040 70%, #f07b0000 90%;
  --box-shadow: inset 0 0 10px 5px var(--bg-sub);
  --border: none;
}

.hover-blue {
  --color: #1da3e6;
  --background: 90deg, #55cdff60 0%, #55cdff40 70%, #55cdff00 90%;
  --box-shadow: inset 0 0 10px 5px var(--bg-sub);
  --border: none;
}

.hover-purple {
  --color: #6e44c3;
  --background: 90deg, #6e44c360 0%, #6e44c340 70%, #6e44c300 90%;
  --box-shadow: inset 0 0 10px 5px var(--bg-sub);
  --border: none;
}

.hover-primary {
  --color: #007bff;
  --background: 90deg, #007bff60 0%, #007bff40 70%, #007bff00 90%;
  --box-shadow: inset 0 0 10px 5px var(--bg-sub);
  --border: none;
}

.hover-warning {
  --color: #ffc107;
  --background: 90deg, #ffc10760 0%, #ffc10740 70%, #ffc10700 90%;
  --box-shadow: inset 0 0 10px 5px var(--bg-sub);
  --border: none;
}

.hover-info {
  --color: #17a2b8;
  --background: 90deg, #17a2b860 0%, #17a2b840 70%, #17a2b800 90%;
  --box-shadow: inset 0 0 10px 5px var(--bg-sub);
  --border: none;
}

.hover-danger {
  --color: #dc3545;
  --background: 90deg, #dc354560 0%, #dc354540 70%, #dc354500 90%;
  --box-shadow: inset 0 0 10px 5px var(--bg-sub);
  --border: none;
}