:root {
  --bg-main: #161d2b !important;
  --bg-sub: #0f141e;
  --text-main: #fff;
  --text-sub: #d9d9d9;
  --shadow-green: #52ca96;
  --shadow-orange: #f07b00;
  --shadow-purple: #6e44c3;
  --shadow-blue: #55cdff;
  --border-main: #323e58;
  --border-dark: #0f141e;
}