@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

:root {
  --bg-main: #00000080;
  --primary-blue: #388FBB;
  --tertiary-orange: #BB6438;
  --primary-green: #38BB64;
  --secondary-magenta: #BB38FF;
  --text-primary: #F0F0F0;
  --text-subheader: #C0C0C0;
  --shadow-main: 0 5px 15px #00000080;
  --shadow-blue: 0 5px 15px #388FBB55;
  --shadow-orange: 0 5px 15px #BB643855;
  --shadow-green: 0 5px 15px #38BB6455;
  --shadow-magenta: 0 5px 15px #BB388F55;
}

$themes: (
  default: (
    "body-bg": #e5e5e5,
    "primary": #3ba5dc,
    "secondary": #8392ab,
    "success": #00f867,
    "info": #5d0149,
    "warning": #fbcf33,
    "danger": #ea0606,
    "light": #e9ecef,
    "dark": #111927,
    "grey": #cbcbcb,
  ),
  dark: (
    "body-bg": #090f18,
    "primary": #89e5b0,
    "secondary": #fff9a4,
    "success": #00f867,
    "info": #330163,
    "warning": #fbcf33,
    "danger": #eb5757,
    "light": #ebeef1,
    "dark": #090f18,
    "grey": #cbcbcb,
  ),
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);

$font-sans-serif: Open Sans;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));

.left-1 {
  left: 1rem;
}

.left-2 {
  left: 2rem;
}

.left-3 {
  left: 3rem;
}

.left-4 {
  left: 4rem;
}

.left-5 {
  left: 5rem;
}

.left-6 {
  left: 6rem;
}

.left-7 {
  left: 7rem;
}

.left-8 {
  left: 8rem;
}

.left-9 {
  left: 9rem;
}

.left-10 {
  left: 10rem;
}

.top-1 {
  top: 1rem;
}

.top-2 {
  top: 2rem;
}

.top-3 {
  top: 3rem;
}

.top-4 {
  top: 4rem;
}

.top-5 {
  top: 5rem;
}

.top-6 {
  top: 6rem;
}

.top-7 {
  top: 7rem;
}

.top-8 {
  top: 8rem;
}

.top-9 {
  top: 9rem;
}

.top-10 {
  top: 10rem;
}

.right-1 {
  right: 1rem;
}

.right-2 {
  right: 2rem;
}

.right-3 {
  right: 3rem;
}

.right-4 {
  right: 4rem;
}

.right-5 {
  right: 5rem;
}

.right-6 {
  right: 6rem;
}

.right-7 {
  right: 7rem;
}

.right-8 {
  right: 8rem;
}

.right-9 {
  right: 9rem;
}

.right-10 {
  right: 10rem;
}

.bottom-1 {
  bottom: 1rem;
}

.bottom-2 {
  bottom: 2rem;
}

.bottom-3 {
  bottom: 3rem;
}

.bottom-4 {
  bottom: 4rem;
}

.bottom-5 {
  bottom: 5rem;
}

.bottom-6 {
  bottom: 6rem;
}

.bottom-7 {
  bottom: 7rem;
}

.bottom-8 {
  bottom: 8rem;
}

.bottom-9 {
  bottom: 9rem;
}

.bottom-10 {
  bottom: 10rem;
}

.hover-blue {
  &:hover {
    color: var(--primary-blue);
    box-shadow: var(--shadow-blue);
    transition: all 0.3s ease-in-out;
  }
}

.hover-orange {
  &:hover {
    color: var(--tertiary-orange);
    box-shadow: var(--shadow-orange);
    transition: all 0.3s ease-in-out;
  }
}

.hover-green {
  &:hover {
    color: var(--primary-green);
    box-shadow: var(--shadow-green);
    transition: all 0.3s ease-in-out;
  }
}

.hover-magenta {
  &:hover {
    color: var(--secondary-magenta);
    box-shadow: var(--shadow-magenta);
    transition: all 0.3s ease-in-out;
  }
}

.focus-blue {
  &:focus {
    color: var(--primary-blue);
    box-shadow: var(--shadow-blue);
    transition: all 0.3s ease-in-out;
  }
}

.focus-orange {
  &:focus {
    color: var(--tertiary-orange);
    box-shadow: var(--shadow-orange);
    transition: all 0.3s ease-in-out;
  }
}

.focus-green {
  &:focus {
    color: var(--primary-green);
    box-shadow: var(--shadow-green);
    transition: all 0.3s ease-in-out;
  }
}

.focus-magenta {
  &:focus {
    color: var(--secondary-magenta);
    box-shadow: var(--shadow-magenta);
    transition: all 0.3s ease-in-out;
  }
}

.text-focus-primary {
  &:focus {
    color: var(--text-bg-main);
    box-shadow: var(--shadow-main);
    transition: all 0.3s ease-in-out;
  }
}

.text-focus-secondary {
  &:focus {
    color: var(--text-subheader);
    box-shadow: var(--shadow-main);
    transition: all 0.3s ease-in-out;
  }
}

.slide-in-left {
  animation: slide-in-left 0.5s ease-in-out forwards;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  animation: slide-in-right 0.5s ease-in-out forwards;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-top {
  animation: slide-in-top 0.5s ease-in-out forwards;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-bottom {
  animation: slide-in-bottom 0.5s ease-in-out forwards;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



/*SECTION - Challenge Form Styles Start */

.modal-content {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #00000099 !important;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: var(--text-primary);
  text-shadow: 0 .5px 1px #38BB64;
  background: #00000080;
  box-sizing: border-box;
  box-shadow: 0 5px 15px #BB388F55;
  border-radius: 10px;

  .close-btn {
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    color: var(--text-primary);
    text-shadow: 0 .5px 1px #38BB64;
    transition: .5s;
      &:hover {
        color: var(--text-subheader);
        text-shadow: 0 .5px 1px #38BB64;
        transition: .5s;
      }    
  }
}

.form-box {
  position: absolute;
  width: 100%;
  height: 100%;
  color: var(--text-primary);
  text-shadow: 0 .5px 1px #38BB64;
  background: #00000080;
  box-sizing: border-box;
  box-shadow: 0 5px 15px #BB388F55;
  border-radius: 10px;
}

.form-box h3 {
  margin: 0 0 20px;
  padding: 0;
  text-align: center;
  color: var(--text-primary);
  text-shadow: 0px 1px 2px #38BB64;
}

.form-box .input-box {
  position: relative;
  width: 100%;
}

input:not(:placeholder-shown):invalid,
textarea:not(:placeholder-shown):invalid,
select:not(:placeholder-shown):invalid {
  border: 1px solid #BB383833 !important;
  box-shadow: 0 0 0 1px #BB388FAB !important;
}

input:not(:placeholder-shown):valid,
textarea:not(:placeholder-shown):valid,
select:not(:placeholder-shown):valid {
  border: 1px solid #38BB6433 !important;
  box-shadow: 0 0 0 1px #388FBBab !important;
}

input:checked {
  background-color: #38BB6499;
}

input:not(:checked) {
  /* background-image: url(
    'https://1001freedownloads.s3.amazonaws.com/vector/thumb/92443/1311627658.png'
  ); */
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position-y: -1.75px;
  background-position-x: -2px;
  background-color: #555;
  border-color: #141b23; /* Change the border color when checked */
}

select {
  outline: none;
  width: 100%;
  height: 100%;
  background: transparent;
  color: var(--text-primary);
  font-size: 16px;
  border: 1px solid var(--text-primary) !important;
  border-radius: 5px;
}

select:focus {
  border: 1px solid var(--primary-blue) !important;
  box-shadow: 0 0 0 1px var(--primary-blue) !important;
}

option {
  background: #000;
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  padding: 0 2px 1px;
  display: inline-block;
  border: 1px solid var(--text-primary) !important;
  border-radius: 5px;
  text-align: center;
}

.form-box .input-box input,
.form-box .input-box select {
  width: 100%;
  padding: 10px 10px;
  font-size: 16px;
  color: var(--text-primary);
  border: none;
  border-bottom: 1px solid var(--text-primary);
  outline: none;
  background: transparent;
}

.form-box .input-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 10px;
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.form-box .input-box input:focus~label,
.form-box .input-box input:valid~label {
  top: -30px;
  left: 0;
  margin-top: 5px;
  color: var(--primary-blue);
  text-shadow: 0 .5px 1px #38BB64;
  font-size: 12px;
}

input:not(:placeholder-shown):valid,
textarea:not(:placeholder-shown):valid,
select:not(:placeholder-shown):valid,
input:not(:placeholder-shown):invalid:focus,
textarea:not(:placeholder-shown):invalid:focus,
select:not(:placeholder-shown):invalid:focus {
  border: 1px solid #38BB6433 !important;
  box-shadow: 0 0 0 1px #388FBBab !important;
  --bs-form-switch-bg: url(
    "https://clipart-library.com/images_k/black-circle-with-transparent-background/black-circle-with-transparent-background-13.png") !important;
}

.form-box button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: var(--primary-blue);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background: transparent;
  border: none;
}

.form-box button.btn:hover {
  color: var(--text-primary);
  border-radius: 5px;
  box-shadow: 
  0 5px 5px 1px var(--primary-blue) inset,
  -5px 0 5px 1px var(--primary-green) inset,
  0 -5px 5px 1px var(--secondary-magenta) inset,
  5px 0 5px 1px var(--tertiary-orange) inset;
}

.form-box .input-box input[data-v-a16fb1c8].event-date {
  color: transparent;
}

.form-box .input-box input[data-v-a16fb1c8].event-date:focus {
  color: var(--text-primary);
  transition: all .5s ease-in-out;
}

.mdi-calendar-month-outline {
  color: #797A7A;
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.form-box button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: transparent;
  color: #FFF;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.form-box button:hover {
  color: var(--text-primary);
  border-radius: 5px;
  box-shadow: 0 0 3px inset var(--primary-green),
              0 0 9px inset var(--primary-blue),
              0 0 12px inset var(--secondary-magenta),
              0 0 18px inset var(--tertiary-orange);
}

/* Set the initial background colors for the pseudo-elements */
.form-box button span:nth-child(1) {
  background: var(--primary-blue);
}

.form-box button span:nth-child(2) {
  background: #38BB64;
  z-index: 1000;
}

.form-box button span:nth-child(3) {
  background: var(--secondary-magenta);
}

.form-box button span:nth-child(4) {
  background: var(--tertiary-orange);
}

.form-box button span {
  position: absolute;
  display: block;
  background: transparent;
}

.input-box>input[type="file"] {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 1;
}

.custom-file-input {
  position: relative;
  background: linear-gradient(90deg, transparent 40%, #38BB6450),
              linear-gradient(180deg, transparent 40%, #BB388F50),
              linear-gradient(270deg, transparent 40%, #388FBB50),
              linear-gradient(360deg, transparent 40%, #BB383850);
  background-color: #000;
  color: #FFF;
  border: 2px ridge #BB388F50;
  width: 14%;
  bottom: 21px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  z-index: 2;
  filter: brightness(.9);
}

.custom-file-input~input[type="file"]:hover::after {
  content: 'Click to Select an image...';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  offset: 1;
  background-color: black;
  font-size: 16px;
  color: var(--text-primary);
  border-radius: 5px;
  color: var(--text-primary);
  z-index: 1;
  animation: fadeIn .5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.input-box {
  height: 65px;
}

.form-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--primary-blue)) ;
  animation: btn-anim1 5s linear infinite .25s;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.form-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #38BB64);
  animation: btn-anim2 5s linear infinite;
  animation-delay: .25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.form-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--secondary-magenta));
  animation: btn-anim3 5s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.form-box button span:nth-child(4) {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--tertiary-orange));
  animation: btn-anim4 5s linear infinite;
  animation-delay: .75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

::-webkit-scrollbar {
  visibility: hidden;
}
/* SECTION - Challenge Form Styles End */

/*SECTION - Challenge Form Styles Start */
/* .container-fluid {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  border-radius: 0;
  color: var(--text-primary);
  text-shadow: 0 .5px 1px #38BB64;
  background: #00000080;
  border-radius: 10px;
} */

.modal-content {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #00000099 !important;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: var(--text-primary);
  text-shadow: 0 .5px 1px #38BB64;
  background: #00000080;
  box-sizing: border-box;
  box-shadow: 0 5px 15px #BB388F55;
  border-radius: 10px;
}

.form-box {
  position: absolute;
  width: 100%;
  height: 100%;
  color: var(--text-primary);
  text-shadow: 0 .5px 1px #38BB64;
  background: #00000080;
  box-sizing: border-box;
  box-shadow: 0 5px 15px #BB388F55;
  border-radius: 10px;
}

.form-box h3 {
  margin: 0 0 20px;
  padding: 0;
  text-align: center;
  color: var(--text-primary);
  text-shadow: 0px 1px 2px #38BB64;
}

.form-box .input-box {
  position: relative;
  width: 100%;
}

input:not(:placeholder-shown):invalid,
textarea:not(:placeholder-shown):invalid,
select:not(:placeholder-shown):invalid {
  border: 1px solid #BB383833 !important;
  box-shadow: 0 0 0 1px #BB388FAB !important;
}

input:not(:placeholder-shown):valid,
textarea:not(:placeholder-shown):valid,
select:not(:placeholder-shown):valid {
  border: 1px solid #38BB6433 !important;
  box-shadow: 0 0 0 1px #388FBBab !important;
}

input:checked {
  background-color: #38BB6499;
}

input[type="checkbox"]:not(:checked) {
  background-image: url(
    'https://1001freedownloads.s3.amazonaws.com/vector/thumb/92443/1311627658.png'
  );
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position-y: -1.75px;
  background-position-x: -2px;
  background-color: #555;
  border-color: #141b23; /* Change the border color when checked */
}

select {
  outline: none;
  width: 100%;
  height: 100%;
  background: transparent;
  color: var(--text-primary);
  font-size: 16px;
  border: 1px solid var(--text-primary) !important;
  border-radius: 5px;
}

select:focus {
  border: 1px solid var(--primary-blue) !important;
  box-shadow: 0 0 0 1px var(--primary-blue) !important;
}

option {
  background: #000;
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  padding: 0 2px 1px;
  display: inline-block;
  border: 1px solid var(--text-primary) !important;
  border-radius: 5px;
  text-align: center;
}

.form-box .input-box input,
.form-box .input-box select {
  width: 100%;
  padding: 10px 10px;
  font-size: 16px;
  color: var(--text-primary);
  border: none;
  border-bottom: 1px solid var(--text-primary);
  outline: none;
  background: transparent;
}

.form-box .input-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 10px;
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.form-box .input-box input:focus~label,
.form-box .input-box input:valid~label {
  top: -30px;
  left: 0;
  margin-top: 5px;
  color: var(--primary-blue);
  text-shadow: 0 .5px 1px #38BB64;
  font-size: 12px;
}

input:not(:placeholder-shown):valid,
textarea:not(:placeholder-shown):valid,
select:not(:placeholder-shown):valid,
input:not(:placeholder-shown):invalid:focus,
textarea:not(:placeholder-shown):invalid:focus,
select:not(:placeholder-shown):invalid:focus {
  border: 1px solid #38BB6433 !important;
  box-shadow: 0 0 0 1px #388FBBab !important;
  --bs-form-switch-bg: url(
    "https://clipart-library.com/images_k/black-circle-with-transparent-background/black-circle-with-transparent-background-13.png") !important;
}

.form-box button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: var(--primary-blue);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background: transparent;
  border: none;
}

.form-box button.btn:hover {
  color: var(--text-primary);
  border-radius: 5px;
  box-shadow: 
  0 5px 5px 1px var(--primary-blue) inset,
  -5px 0 5px 1px var(--primary-green) inset,
  0 -5px 5px 1px var(--secondary-magenta) inset,
  5px 0 5px 1px var(--tertiary-orange) inset;
}

.form-box .input-box input[data-v-a16fb1c8].event-date {
  color: transparent;
}

.form-box .input-box input[data-v-a16fb1c8].event-date:focus {
  color: var(--text-primary);
  transition: all .5s ease-in-out;
}

.mdi-calendar-month-outline {
  color: #797A7A;
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.form-box button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: transparent;
  color: #FFF;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.form-box button:hover {
  color: var(--text-primary);
  border-radius: 5px;
  box-shadow: 0 0 3px inset var(--primary-green),
              0 0 9px inset var(--primary-blue),
              0 0 12px inset var(--secondary-magenta),
              0 0 18px inset var(--tertiary-orange);
}

/* Set the initial background colors for the pseudo-elements */
.form-box button span:nth-child(1) {
  background: var(--primary-blue);
}

.form-box button span:nth-child(2) {
  background: #38BB64;
  z-index: 1000;
}

.form-box button span:nth-child(3) {
  background: var(--secondary-magenta);
}

.form-box button span:nth-child(4) {
  background: var(--tertiary-orange);
}

.form-box button span {
  position: absolute;
  display: block;
  background: transparent;
}

.input-box>input[type="file"] {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 1;
}

.custom-file-input {
  position: relative;
  background: linear-gradient(90deg, transparent 40%, #38BB6450),
              linear-gradient(180deg, transparent 40%, #BB388F50),
              linear-gradient(270deg, transparent 40%, #388FBB50),
              linear-gradient(360deg, transparent 40%, #BB383850);
  background-color: #000;
  color: #FFF;
  border: 2px ridge #BB388F50;
  width: 14%;
  bottom: 21px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  z-index: 2;
  filter: brightness(.9);
}

.custom-file-input~input[type="file"]:hover::after {
  content: 'Click to Select an image...';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  offset: 1;
  background-color: black;
  font-size: 16px;
  color: var(--text-primary);
  border-radius: 5px;
  color: var(--text-primary);
  z-index: 1;
  animation: fadeIn .5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.input-box {
  height: 65px;
}

.form-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--primary-blue)) ;
  animation: btn-anim1 5s linear infinite .25s;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.form-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #38BB64);
  animation: btn-anim2 5s linear infinite;
  animation-delay: .25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.form-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--secondary-magenta));
  animation: btn-anim3 5s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.form-box button span:nth-child(4) {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--tertiary-orange));
  animation: btn-anim4 5s linear infinite;
  animation-delay: .75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

::-webkit-scrollbar {
  visibility: hidden;
}
/* SECTION - Challenge Form Styles End */



/* SECTION - Badge Styles Start */

/* NOTE - BADGE STYLING ATTRIBUTES ARE ALL WRAPPED WITHIN THE INITIAL ".badge" CLASS *EXCEPT FOR* THE '@MIXIN AND @INCLUDES' BRING *ALL* CLASS ATTRIBUTES AND '@MIXIN' ATTRIBUTE WITH YOU FOR A 'SINGLE BADGE' WHEN YOU PLACE IT *EXCEPT FOR* ALL '@INCLUDES' COLORS. BRING A SINGLE '@INCLUDES' COLOR CASE AND CHANGE THAT COLOR AS YOU SEE FIT.  THEY ARE INDIVIDUALLY MARKED WITH A *SECTION* COMMENT. */

/* SECTION SPECIAL AWARD BADGES */
.badge {
  position: relative;
  width: 100px;
  display: inline-block;
  margin: 40px;

  .title {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: .7em;
    text-shadow: .5px .5px 1px #362d2d;
    position: absolute;
    top: -10px;
    border-radius: 8px 8px 0 0;
    text-align: center;
    width: 100%;
    background: red;
    padding: 12px 0;
  }
  .subtitle {
    position: absolute;
    font-family: "Fjalla One", sans-serif;
    font-size: .8em;
    width: 100%;
    text-align: center;
    color: white;
    position: absolute;
    top: 50px;
    word-spacing: 2px;
    &:after {
      content: "★ ★ ★";
      display: block;
      font-size: .4em;
      position: relative;
      margin: 12px 0 0;
      transition: all .3s;
    }
  }
  &:hover .subtitle:after {
    word-spacing: 10px; 
  }
}

@mixin setColor($color){
  .title{
    background-color: $color;
  }
  .subtitle:after {
    color: $color;
  }
}
/* SECTION SINGLE COLOR CASE FOR SINGLE BADGE */
.red{
  @include setColor(#832220);
}
/* SECTION SINGLE COLOR CASE FOR SINGLE BADGE */
.green{
  @include setColor(darkolivegreen);
}
/* SECTION SINGLE COLOR CASE FOR SINGLE BADGE */
.slateblue{
  @include setColor(slateblue);
}
/* SECTION SINGLE COLOR CASE FOR SINGLE BADGE */
.gold{
  @include setColor(gold);
}
/* SECTION SINGLE COLOR CASE FOR SINGLE BADGE */
.bronze{
  @include setColor(#CD7F32);
}


/* SECTION SECONDARY BADGES */

@mixin margin-auto {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.main-wrapper {
  font-family: 'Comfortaa', sans-serif;
  width: 90%;
  max-width: 900px;
  margin: 3em auto;
  text-align: center;
}

.alt-badge {
  position: relative;
  margin: 1.5em 3em;
  width: 4em;
  height: 6.2em;
  border-radius: 10px;
  display: inline-block;
  top: 0;
  transition: all 0.2s ease;
  &:before,
  &:after {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: "";
    @include margin-auto;
  }
  &:before {
    transform: rotate(60deg);
  }
  &:after {
    transform: rotate(-60deg);
  }
  &:hover {
    top: -4px;
  }
  .circle {
    width: 60px;
    height: 60px;
    position: absolute;
    background: #fff;
    z-index: 10;
    border-radius: 50%;
    @include margin-auto;
    i.mdi {
      font-size: 2em;
      margin-top: 8px;
    }
  }
  .font {
    display: flex;
    margin-top: 1em;
  }
  .ribbon {
    position: absolute;
    border-radius: 4px;
    padding: 5px 5px 4px;
    width: 120px;
    z-index: 10;
    color: #fff;
    bottom: 12px;
    left: 45%;
    margin-left: -55px;
    height: 30px;
    font-size: 14px;
    box-shadow: 0 1px 2px #00000045;
    text-shadow: 0 2px 2px #0000001a;
    text-transform: uppercase;
    background: linear-gradient(to bottom right, #555 0%, #333 100%);
    cursor: default;
  }
}

.yellow2 {
  background: linear-gradient(to bottom right, #ffeb3b 0%, #fbc02d 100%);
  color: #ffb300;
}

.orange2 {
  background: linear-gradient(to bottom right, #ffc107 0%, #f57c00 100%);
  color: #f68401;
}

.purple2 {
  background: linear-gradient(to bottom right, #ab47bc 0%, #4527a0 100%);
  color: #7127a8;
}

.teal2 {
  background: linear-gradient(to bottom right, #4DB6AC 0%, #00796B 100%);
  color: #34a297;
}

.blue2 {
  background: linear-gradient(to bottom right, #4FC3F7 0%, #2196F3 100%);
  color: #259af3;
}

.blue-dark {
  background: linear-gradient(to bottom right, #1976D2 0%, #283593 100%);
  color: #1c68c5;
}

.green2 {
  background: linear-gradient(to bottom right, #cddc39 0%, #8bc34a 100%);
  color: #7cb342;
}

.green-dark {
  background: linear-gradient(to bottom right, #4CAF50 0%, #1B5E20 100%);
  color: #00944a;
}

.silver2 {
  background: linear-gradient(to bottom right, #E0E0E0 0%, #BDBDBD 100%);
  color: #9e9e9e;
}

.gold2 {
  background: linear-gradient(to bottom right, #e6ce6a 0%, #b7892b 100%);
  color: #b7892b;
}

/* NOTE - PINK AND RED ARE NOT BEING USED - BUT IT CAN BE. JUST SET THE INITIAL CHILDREN UNDER MAIN PARENT DIV TAG OF CLASS NAME 'MAIN-WRAPPER' TO 'PINK' INSTEAD OF THE CURRENT COLOR IT IS NAMED AFTER AS A CLASS ATTRIBUTE. */
.pink2 {
  background: linear-gradient(to bottom right, #F48FB1 0%, #d81b60 100%);
  color: #dc306f;
}
.red2 {
  background: linear-gradient(to bottom right, #f4511e 0%, #b71c1c 100%);
  color: #c62828;
}

/* SECTION = Badge Styles End */