@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

body{
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--body-bg);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }
    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: brightness(.5) grayscale(70%);
  pointer-events: none;
}

.top-half {
  top: .5rem;
}

.top-1 {
  top: 1rem;
}

.top-1-half {
  top: 1.5rem;
}

.top-2 {
  top: 2rem;
}

.top-2-half {
  top: 2.5rem;
}

.top-3 {
  top: 3rem;
}

.top-3-half {
  top: 3.5rem;
}

.top-4 {
  top: 4rem;
}

.top-4-half {
  top: 4.5rem;
}

.top-5 {
  top: 5rem;
}

.top-5-half {
  top: 5.5rem;
}

.top-6 {
  top: 6rem;
}

.top-6-half {
  top: 6.5rem;
}

.top-7 {
  top: 7rem;
}

.top-7-half {
  top: 7.5rem;
}

.top-8 {
  top: 8rem;
}

.top-8-half {
  top: 8.5rem;
}

.top-9 {
  top: 9rem;
}

.top-9-half {
  top: 9.5rem;
}

.top-10 {
  top: 10rem;
}

.bottom-0 {
  bottom: 0;
}

.bottom-half {
  bottom: .5rem;
}

.bottom-1 {
  bottom: 1rem;
}

.bottom-1-half {
  bottom: 1.5rem;
}

.bottom-2 {
  bottom: 2rem;
}

.bottom-2-half {
  bottom: 2.5rem;
}

.bottom-3 {
  bottom: 3rem;
}

.bottom-3-half {
  bottom: 3.5rem;
}

.bottom-4 {
  bottom: 4rem;
}

.bottom-4-half {
  bottom: 4.5rem;
}

.bottom-5 {
  bottom: 5rem;
}

.bottom-5-half {
  bottom: 5.5rem;
}

.bottom-6 {
  bottom: 6rem;
}

.bottom-6-half {
  bottom: 6.5rem;
}

.bottom-7 {
  bottom: 7rem;
}

.bottom-7-half {
  bottom: 7.5rem;
}

.bottom-8 {
  bottom: 8rem;
}

.bottom-8-half {
  bottom: 8.5rem;
}

.bottom-9 {
  bottom: 9rem;
}

.bottom-9-half {
  bottom: 9.5rem;
}

.bottom-10 {
  bottom: 10rem;
}

.left-0 {
  left: 0;
}

.left-half {
  left: .5rem;
}

.left-1 {
 left: 1rem;
}

.left-1-half {
  left: 1.5rem;
}

.left-2 {
  left: 2rem;
}

.left-2-half {
  left: 2.5rem;
}

.left-3 {
  left: 3rem;
}

.left-3-half {
  left: 3.5rem;
}

.left-4 {
  left: 4rem;
}

.left-4-half {
  left: 4.5rem;
}

.left-5 {
  left: 5rem;
}

.left-5-half {
  left: 5.5rem;
}

.left-6 {
  left: 6rem;
}

.left-6-half {
  left: 6.5rem;
}

.left-7 {
  left: 7rem;
}

.left-7-half {
  left: 7.5rem;
}

.left-8 {
  left: 8rem;
}

.left-8-half {
  left: 8.5rem;
}

.left-9 {
  left: 9rem;
}

.left-9-half {
  left: 9.5rem;
}

.left-10 {
  left: 10rem;
}

.right-0 {
  right: 0;
}

.right-half {
  right: .5rem;
}

.right-1 {
  right: 1rem;
}

.right-1-half {
  right: 1.5rem;
}

.right-2 {
  right: 2rem;
}

.right-2-half {
  right: 2.5rem;
}

.right-3 {
  right: 3rem;
}

.right-3-half {
  right: 3.5rem;
}

.right-4 {
  right: 4rem;
}

.right-4-half {
  right: 4.5rem;
}

.right-5 {
  right: 5rem;
}

.right-5-half {
  right: 5.5rem;
}

.right-6 {
  right: 6rem;
}

.right-6-half {
  right: 6.5rem;
}

.right-7 {
  right: 7rem;
}

.right-7-half {
  right: 7.5rem;
}

.right-8 {
  right: 8rem;
}

.right-8-half {
  right: 8.5rem;
}

.right-9 {
  right: 9rem;
}

.right-9-half {
  right: 9.5rem;
}

.right-10 {
  right: 10rem;
}